<!DOCTYPE html>
<html lang="en">
<head>
  <title>Documara</title>
  <link rel="stylesheet" href="/style/bootstrap.min.css" />
  <link rel="stylesheet" href="/style/bootstrap-responsive.min.css" />
  <!-- <link rel="stylesheet" href="/style/documents.css" /> -->
  <!-- <link rel="stylesheet" href="/style/lists.css" /> -->
</head> <body>


<section id="login">
  <form action="/login" method="post">
    <h2>Please log in</h2>
    <div class="alert" style="display: none; color: red">Invalid email or password.</div>
    <input type="email" name="email" id="email" placeholder="Email"></input>
    <input type="password" name="password" id="password"
           placeholder="Password"></input>
    <input type="submit" name="submit" value="Log me in"></input>
  </form>
</section>


<div id="user-info">
  Section
  <a href="/documents/">Documents</a>
  <a href="/lists/">Lists</a>
  <span class="username">Anonymous</span>
  <form id="logout-form" action="/logout" method="POST">
    <input type="submit" value="Logout"></input>
  </form>
</div>


<section id="document-show">
  <div id="title-wrapper">
    <input type="text" id="title" placeholder="Document title"></input>
  </div>
  <div id="editor-wrapper">
    <textarea id="editor" disabled="disabled">connecting...</textarea>
  </div>
  <footer>
    <form id="publish-form" action="/">
      <p>
        <label for="published-date">Published on</label>
        <input type="text" id="published-date" placeholder="24 March 2012">
        <button id="set-current-time" type="button">Now</button>
        <button id="pick-date" type="button" disabled="disabled">Pick a date</button>
      </p>
      <p>
        <label for="slug">http://documara.com/public/</label>
        <input type="text" id="slug" placeholder="my-new-post">
      </p>
      <button id="publish" type="button">Make public!</button>
    </form>
    <div id="publication-info">
      <a href="">Published on <time></time></a>
    </div>
  </footer>
  <a id="back-to-index" href="/">&lt;&lt; all documents</a>
</section>


<section id="document-index">
  <div id="searchbox-wrapper">
    <input id="searchbox" type="text" name="searchbox"
           placeholder="Type new or existing document title" />
  </div>
  <div id="documents-container">
    <ul id="documents">
      <li id="new-document">
        <a href=""><h3></h3><em>Create a new document</em></a>
      </li>
    </ul>
  </div>
</section>


<section id="list-page">
  <nav id="all-docs">
    <ul> </ul>
    <button id="create-new-list" type="button">Create a new list</button>
  </nav>

  <div id="document-area">
    <input id="list-title" type="text" placeholder="Your list title" />

    <p class="empty">The list is empty. Try adding some items!</p>
    <div id="wrap">
    <ul id="items">
    </ul>
    </div>

    <input id="new-item" type="text" />
    <button id="add-item" type="button" class="btn">Add</button>

    <div>
      <button id="hide-finished" type="button"
              data-text-hide-finished="Hide finished"
              data-text-show-all="Show all items"
              class="btn">
        Hide finished
      </button>
    </div>
  </div>
</section>


<!-- Templates -->
<script id="list-item-template" type="underscore-template">
  <a href="/documents/<%- id %>">
    <h3><%- title %></h3>
    <time datetime="<%- created %>"><%- human_time %></time>
  </a>
</script>

<script id="item-template" type="underscore-template">
  <li>
    <input id="item-<%- d.id %>" type="checkbox"
           <% if(d.finished) { %> checked="checked" <% } %> />
    <label for="item-<%- d.id %>">done</label>
    <span class="title"><%- d.title %></span>
    <% if(!(d.description && d.description.length > 0)) { %>
      <a class="add-description" href="#">add description</a>
    <% } %>
    <a class="remove-item" href="#">remove</a>
    <pre class="description"><% if(d.description && d.description.length > 0) { %><%- d.description %><% } %></pre>
  </li>
</script>

<script id="doc-template" type="underscore-template">
  <li class="<%- d.selected %>">
    <a href="/lists/<%- d.id %>">
        <% if (d.title && d.title.length > 0) print(d.title)
           else print('[no title]') %>
    </a>
  </li>
</script>


<script src="/channel/bcsocket.js"></script>
<script src="/share/share.js"></script>
<script src="/share/json.js"></script>
<script src="/share/textarea.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/xdate.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/accent-fold.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/documents.js"></script>
<script src="/js/lists.js"></script>
</body> </html>
