<!DOCTYPE html>
<html lang="en">
<head>
  <title>Documara</title>
  <link rel="stylesheet" href="/style/bootstrap.min.css" />
  <link rel="stylesheet" href="/style/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/style/style.css" />
</head> <body>


<div id="user-info" class="navbar"><div class="navbar-inner">
  <a class="brand" href="/">Documara</a>
  <ul class="nav">
    <li><a href="/documents/">Documents</a></li>
    <li><a href="/lists/">Lists</a></li>
  </ul>
  <ul class="nav pull-right">
    <li><span class="username navbar-text">Anonymous</span></li>
    <li class="divider-vertical"></li>
    <li><form id="logout-form" class="navbar-form" action="/logout" method="POST">
        <input type="submit" class="btn" value="Logout"></input>
    </form></li>
  </ul>
</div></div>


<section id="login" class="container">
  <form action="/login" method="post">
    <h2>Please log in</h2>
    <div class="alert" style="display: none; color: red">Invalid email or password.</div>
    <input type="email" class="input-block-level" name="email" id="email" placeholder="Email"></input>
    <input type="password" class="input-block-level" name="password" id="password"
           placeholder="Password"></input>
    <input type="submit" name="submit" class="btn btn-primary btn-large btn-block" value="Log me in"></input>
  </form>
</section>


<section id="document-index" class="container">
  <input id="searchbox" type="text" name="searchbox" class="input-block-level"
         placeholder="Type new or existing document title" />
  <div id="documents-container">
    <ul id="documents" class="unstyled">
      <li id="new-document">
        <a href=""><h3></h3><em>Create a new document</em></a>
      </li>
    </ul>
  </div>
</section>


<section id="document-show" class="container">
  <input type="text" id="title" placeholder="Document title" class="input-block-level"></input>
  <textarea id="editor" disabled="disabled" class="input-block-level">connecting...</textarea>

  <footer>
    <form id="publish-form" class="form-inline" action="/">
      <p>
        <label for="published-date">Published on</label>
        <input type="text" id="published-date" placeholder="24 March 2012">
        <button id="set-current-time" type="button" class="btn">Now</button>
        <button id="pick-date" type="button" class="btn" disabled="disabled">Pick a date</button>
      </p>
      <p>
        <label for="slug">http://documara.com/public/</label>
        <input type="text" id="slug" placeholder="my-new-post">
        <button id="publish" type="button" class="btn btn-primary">Make public!</button>
      </p>
    </form>
    <div id="publication-info">
      <a href="">Published on <time></time></a>
    </div>
  </footer>
</section>



<section id="list-page" class="container-fluid"><div class="row-fluid">
<div class="span3">

  <nav id="all-docs">
    <ul class="nav nav-list">
      <li class="nav-header">Your lists:</li>
    </ul>
    <button id="create-new-list" type="button" class="btn btn-block">Create a new list</button>
  </nav>

</div><div class="span9">

  <div id="document-area">
    <input id="list-title" type="text" placeholder="Your list title" />

    <p class="empty">The list is empty. Try adding some items!</p>
    <ul id="items" class="unstyled">
    </ul>
    <button id="hide-finished" type="button"
            data-text-hide-finished="Hide finished"
            data-text-show-all="Show all items"
            class="btn">
      Hide finished
    </button>

    <div class="input-append">
      <input id="new-item" class="input-xlarge" type="text" placeholder="new list item" />
      <button id="add-item" type="button" class="btn">Add</button>
    </div>

  </div>

</div>
</div></section>


<!-- Templates -->
<script id="list-item-template" type="underscore-template">
  <a href="/documents/<%- id %>">
    <h3><%- title %></h3>
    <time datetime="<%- created %>"><%- human_time %></time>
  </a>
</script>

<script id="item-template" type="underscore-template">
  <li>
    <button type="button" class="finished btn btn-small <% if(d.finished) print('active'); %>" data-toggle="button">done</button>
    <span class="title"><%- d.title %></span>
    <button type="button" class="remove-item">Remove Item</button>
    <button type="button" class="add-description">Add Description</button>
    <pre class="description <% if(!d.description || d.description.length === 0) print('hidden'); %>"><% if(d.description && d.description.length > 0) { %><%- d.description %><% } %></pre>
  </li>
</script>

<script id="doc-template" type="underscore-template">
  <li class="<%- d.selected %>">
    <a href="/lists/<%- d.id %>">
        <% if (d.title && d.title.length > 0) print(d.title)
           else print('[no title]') %>
    </a>
  </li>
</script>


<script src="/channel/bcsocket.js"></script>
<script src="/share/share.js"></script>
<script src="/share/json.js"></script>
<script src="/share/textarea.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/xdate.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/accent-fold.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/documents.js"></script>
<script src="/js/lists.js"></script>
</body> </html>
