<!DOCTYPE html>
<html>
<head>
  <title>Lists&thinsp;&mdash;&thinsp;Documara</title>
  <link rel="stylesheet" href="/style/lists.css" />
</head> <body>


<section id="login">
  <form action="/login" method="post">
    <h2>Please log in</h2>
    <div class="alert" style="display: none; color: red">Invalid email or password.</div>
    <input type="email" name="email" id="email" placeholder="Email"></input>
    <input type="password" name="password" id="password"
           placeholder="Password"></input>
    <input type="submit" name="submit" value="Log me in"></input>
  </form>
</section>


<section id="list-page">
  <nav id="all-docs">
    <ul> </ul>
    <button id="create-new-list" type="button">Create a new list</button>
  </nav>

  <div id="document-area">
    <input id="list-title" type="text" placeholder="Your list title" />

    <p class="empty">The list is empty. Try adding some items!</p>
    <ul id="items">
    </ul>

    <input id="new-item" type="text" />
    <button id="add-item" type="button" class="btn">Add</button>

    <div id="action-buttons">
      <button id="hide-finished" type="button"
              data-text-hide-finished="Hide finished"
              data-text-show-all="Show all items"
              class="btn">
        Hide finished
      </button>
    </div>
  </div>
</section>


<div id="user-info">
  <span class="username">Anonymous</span>
  <form id="logout-form" action="/logout" method="POST">
    <input type="submit" value="Logout"></input>
  </form>
</div>


<!-- Templates -->
<script id="item-template" type="underscore-template">
  <li>
    <input id="item-<%- d.id %>" type="checkbox"
           <% if(d.finished) { %> checked="checked" <% } %> />
    <label for="item-<%- d.id %>">done</label>
    <span class="title"><%- d.title %></span>
    <% if(d.description && d.description.length > 0) { %>
      <div class="description">
        <%- d.description %>
      </div>
    <% } %>
  </li>
</script>

<script id="doc-template" type="underscore-template">
  <li class="<%- d.selected %>">
    <a href="/lists/<%- d.id %>">
        <% if (d.title && d.title.length > 0) print(d.title)
           else print('[no title]') %>
    </a>
  </li>
</script>



<script src="/channel/bcsocket.js"></script>
<script src="/share/share.js"></script>
<script src="/share/json.js"></script>
<script src="/share/textarea.js"></script>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="/js/xdate.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/accent-fold.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/lists.js"></script>
</body> </html>
