/*#items {
  width: 450px;
  padding: 2em;
}

#items li {
  background: #EBEEF2;
}

#items li:hover {
  background: white;
}

.add-description {
  font-size: small;
  margin-left: 3em;
  visibility: hidden;
}

.remove-item {
  font-size: small;
  color: red;
  visibility: hidden;
}

li:hover .add-description,
li:hover .remove-item {
  visibility: visible;
}*/

#items {
  width: 450px;
}
#list-title { width: 450px;}


#items li:hover { background: #EBEEF2; }
#items li:hover .description { background: #EBEEF2; }
#items li.drag-helper { background: #EBEEF2; }
#items li.drag-helper .description { background: #EBEEF2; }


.finished.active + .title { text-decoration: line-through; }

.hidden { display: none; }

.add-description, .remove-item {
  display: none;
  border-style: none;
  background: transparent;
  text-decoration: underline;
  color: blue;
  float: right;
}
.remove-item { color: red; }

li:hover .add-description, li:hover .remove-item { display: inline; }

#hide-finished {
  margin-bottom: 50px;
}