/*#items {
  width: 450px;
  padding: 2em;
}

#items li {
  background: #EBEEF2;
}

#items li:hover {
  background: white;
}

.add-description {
  font-size: small;
  margin-left: 3em;
  visibility: hidden;
}

.remove-item {
  font-size: small;
  color: red;
  visibility: hidden;
}

li:hover .add-description,
li:hover .remove-item {
  visibility: visible;
}*/

.finished.active + .title { text-decoration: line-through; }

.hidden { display: none; }