body { background: #ebeef2; }

#items { width: 450px; }
#list-title { width: 450px;}


#items li:hover { background: white; }
#items li:hover .description { background: white; }
#items li.drag-helper { background: white; }
#items li.drag-helper .description { background: white; }


.finished.active + .title { text-decoration: line-through; }

.hidden { display: none; }

.add-description, .remove-item {
  display: none;
  border-style: none;
  background: transparent;
  font-size: small;
  text-decoration: underline;
  color: blue;
  float: right;
}
.remove-item { color: red; }

li:hover .add-description, li:hover .remove-item { display: inline; }

#hide-finished {
  margin-bottom: 50px;
}